<!DOCTYPE html>
{% extends 'home.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    .password-container {
        position: relative;
    }

    .toggle-password {
        position: absolute;
        top: 20%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

</head>
<body>
<div class="container midde_cont">
    <div class="row column_title">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Change Password</h2>
            </div>
        </div>
    </div>
    <div class="container pb-5" style="padding-top:50px;">
        <div class="center verticle_center">
            <div class="bg-white text-dark white_shd">
                <div class="login_form">
    <form action="{% url 'update_password' userid=profile.UserId %}" method="post">
        {% csrf_token %}
        <fieldset>

            <div class="field" hidden="hidden">
                <label>Old Password</label>
                <input name="old-get" placeholder="Old Password" type="text" value="{{profile.Password}}"/>
            </div>

            <!-- Old Password -->
            <div class="field">
                <label style="font-weight: 600;">Old Password</label>
                <div class="password-container" style="margin-top:-10px;">
                    <input name="oldPassword" id="oldPassword" placeholder="Old Password" required type="password"/>
                    <span class="toggle-password" onclick="togglePasswordVisibility('oldPassword')">
                        <i class="fa fa-eye" id="eyeIconOldPassword"></i>
                    </span>
                </div>
            </div><br><br>

            <!-- New Password -->
            <div style="padding-bottom: 40px;">
                <div class="field">
                    <label style="font-weight: 600;">New Password</label>
                    <div class="password-container" style="margin-top:-10px;">
                        <input name="password" id="password" oninput="checkPasswordStrength(this.value)" placeholder="New Password" required type="password">
                        <span class="toggle-password" onclick="togglePasswordVisibility('password')">
                            <i class="fa fa-eye" id="eyeIconPassword"></i>
                        </span>
                    </div>
                    <div style="margin-bottom:-50px;">
                        <small class="form-text text-primary" id="passwordStrength"></small>
                    </div>
                </div>
            </div>


            <!-- Confirm New Password -->

            <div class="field">
                <label style="font-weight: 600;">Confirm New Password</label>
                <div class="password-container" style="margin-top:-10px;">
                    <input name="confirmPassword" id="confirmPassword" placeholder="Confirm New Password" required oninput="checkConfirmPassword(this.value)" type="password"/>
                    <span class="toggle-password" onclick="togglePasswordVisibility('confirmPassword')">
                        <i class="fa fa-eye" id="eyeIconConfirmPassword"></i>
                    </span>
                </div>
                <div>
                    <small class="form-text text-primary" id="confirmPasswordText"></small>
            </div>
            </div>


            <div class="text-center" style="margin-top:50px;">
                <button class="main_bt" type="submit">Update</button>
            </div>
        </fieldset>
    </form>
</div>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePasswordVisibility(inputId) {
    const passwordInput = document.getElementById(inputId);
    const eyeIcon = document.getElementById('eyeIcon' + inputId.charAt(0).toUpperCase() + inputId.slice(1));

    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        eyeIcon.classList.remove('fa-eye');
        eyeIcon.classList.add('fa-eye-slash');
    } else {
        passwordInput.type = 'password';
        eyeIcon.classList.remove('fa-eye-slash');
        eyeIcon.classList.add('fa-eye');
    }
}

</script>

<script>
    function checkPasswordStrength(password) {
        var strengthBadge = document.getElementById('passwordStrength');

        if (password.match(/[A-Z]+/)) {
            if (password.match(/[a-z]+/)) {
                if (password.match(/[0-9]+/)) {
                    if (password.match(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/)) {
                        if (password.length >= 8) {
                            strengthBadge.innerText = 'Strong - Good job! Your password meets requirements';
                        }
                        else{
                            strengthBadge.innerText = 'Password must be at least 8 characters long';
                        }
                    }
                    else{
                        strengthBadge.innerText = 'Password must contain at least one special character';
                    }
                }
                else{
                    strengthBadge.innerText = 'Password must contain at least one number';
                }
            }
            else{
                strengthBadge.innerText = 'Password must contain at least one lowercase letter';
            }
        }
        else{
            strengthBadge.innerText = 'Password must contain at least one uppercase letter';
        }
    }

</script>

<script>
    function checkConfirmPassword(confirmPassword) {
        var confirmBadge = document.getElementById('confirmPassword');
        var password = document.getElementById('password').value;

        if (password === confirmPassword) {
            confirmPasswordText.innerText = 'Password matched!';
        }
        else {
            confirmPasswordText.innerText = 'Password do not match!';
        }
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
<script>
                                swal('{{i}}','','warning');


</script>
{% elif i.tags == 'error' %}
<script>
                                swal('{{i}}','','error');


</script>
{% elif i.tags == 'success' %}
<script>
                                swal('{{i}}','','success');


</script>
{% else %}
<script>
                                swal('{{i}}','','info');


</script>
{% endif %}
{% endfor %}
{% endif %}

</body>
</html>
{% endblock %}
